<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>{{jelo.ime}}</title>
     </head>
     <body>
          <div class="container">
                <div class="ime">
                 <h> {{jelo.ime}} </h>
                </div>
                <div class="sastojci">
                    <p> {{jelo.sastojci_opis|linebreaks}}</p>
                </div>
                <div class="priprema">
                    <p> {{jelo.nacin_pripreme|linebreaks}}</p>
                </div>
          </div>
     </body>
 </html>