{% extends 'recepti/base.html' %}
{% block title %}{{jelo.ime}}{% endblock %}
{% load staticfiles %}

{% block body %}

  <link rel="stylesheet" type="text/css" href="{% static 'recepti/detail.css' %}" >

     <div class="container">
        <div class="ime">
         <h> {{jelo.ime}} </h>
        </div>
         <div class="slika">
             <img src="{{jelo.slika.url}}" class="slikajela">
        </div>
        <div class="sastojci">
            <p> {{jelo.sastojci_opis|linebreaks}}</p>
        </div>
        <div class="priprema">
            <p> {{jelo.nacin_pripreme|linebreaks}}</p>
        </div>
    </div>

{% endblock %}

