{% extends 'recepti/base.html' %}
{% block title %}Brzi-Recepti{% endblock %}
{% load staticfiles %}

{% block body %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'recepti/js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="{% static 'recepti/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'recepti/index.css' %}" >

    <div class="div">
        <div class="blur">
            <h1 align="center" style="color:white; font-weight: 1000;">PRONAĐITE RECEPTE</h1>

            <script type="text/javascript">
                $(document).ready(function() {
                    $("#myTags").tagit();
                    $("#search-form").submit(function(e) {
                        var all = $(".tagit-label").map(function() {
                            return this.innerHTML;
                        }).get();

                        var tags = all.join();
                        $("#id_q").val(tags);

                         // alert(tags);
                    });
                });
            </script>
            {{tagovi}}
            <form id="search-form" method = "POST" action="{% url 'index' %}">
                    {% csrf_token %}
                <ul id="myTags">
                    <!-- Existing list items will be pre-added to the tags -->
                </ul>
                <input type="hidden" name="q" id="id_q" />
                <button type="submit" class="btn-success">PRETRAŽI</button>
            </form>
        </div>
    </div>

{% endblock %}