.container{
    width: 100%;
    border: 1px solid gray;
    background-color: #81FF33;
}
.container .ime{
    width: 384px;
    height: 240px;
    margin-left:363px;
    font-size: 4em;
    padding: 1em;
    color: black;
    clear: left;
    text-align: center;
}

.container .slika {
    margin-left: 425px;
}