form {
  text-align: center;
  width: 100%;
}

.div {
    margin-top: 150px;
    letter-spacing: 4px;
}

.div .blur {
    width: 800px;
    height: 280px;
    background: rgb(123, 124, 124, 0.8);
    margin-left: 360px;
    margin-top: -30px;
    padding-top: 55px;
    border: 1px solid black;
}

body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tagit.ui-widget.ui-widget-content.ui-corner-all {
    margin-top: 35px;
}

