h3 {
    color: #6c132b;
}

.dorucak {
    color: #6c132b;
    margin-top: 30px;
}
.svirecepti {
    color: #6c132b;
    margin-top: 30px;
}

a {
    color: #FA1423;
}

.kontejner {
    width: 100%;
    border: 1px solid gray;
    background-color: #ffeecc;
    max-width: 1140px;
    margin-left:180px;
    min-width:1200px;
}