.navbar{
    background: #ffffff;
    border-bottom:  3px solid #FA1423;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

a.nav-link:hover {
    color: #6c132b;
}

li.nav-item.active a.nav-link {
    text-decoration: underline solid #6c132b;
    color: #6c132b
}

.navbar-nav li a {
    color: 	#FA1423;
}

.region-navbar-3{
        margin-left: 573px;
}
.slika {
        margin-left: 487px;
}

body {
    font-family: 'Roboto', sans-serif;
}





